
if ARCH_PMB8876

menu "PMB8876 Implementations"

config MACH_PMB8876
	bool "Siemens NewSGOLD"
	select CPU_ARM926EJ_S
	select MULTI_IRQ_HANDLER
	select GENERIC_CLOCKEVENTS
	select ARM_AMBA
	select COMMON_CLK
	
	help
	  Say 'Y' here if you want your kernel to support the
	  Siemens NewSGOLD Devices
	  
config DEBUG_LL_INCLUDE
	string
	default "mach/debug-macro.S"
	
config DEBUG_LL_PMB8876
	bool "Low level debug"
	help
	  Adds low level uart macro`s that uses UART directly for low-level debug

config DEBUG_PMB8876_TEST_DIALOG_I2C_DEVICES
	bool "Test Dialog/Twigo I2C devices"
	select GPIOLIB
	select I2C
	help
	 For i2c debug

endmenu

endif
