
if ARCH_PMB8876

menu "PMB8876 Implementations"

config MACH_PMB8876
	bool "Siemens NewSGOLD"
	select CPU_ARM926EJ_S
	
	help
	  Say 'Y' here if you want your kernel to support the
	  Siemens NewSGOLD Devices
	  
config DEBUG_LL_INCLUDE
	string
	default "mach/debug-macro.S"
	
config DEBUG_LL_PMB8876
	bool "Low level debug"
	help
	  Adds low level uart macro`s that uses UART directly for low-level debug

endmenu

endif
